{% extends "base.html" %} 
{% block content %}
<style>
    body {
        font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
        font-size: 18px;
        background-color: #f0f0f0;
    }
        
    .card {
        box-shadow: 0 8px 16px #e0e0e0;
    }
</style>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col mt-3 left">
            {% for post in blogpost_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}
